---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Jasso Zuñiga" description="Jasso's personal website">
    <section 
        class="flex flex-col items-center justify-center gap-4"
        transition:name="content"
        transition:animate="fade"
    >
        <h1
            class="text-center text-2xl font-bold"
            transition:name="title"
            transition:animate="initial"
        >
            About me
        </h1>
    </section>
    
</L>