---
import Layout from '../layouts/Layout.astro';
import { Divider } from '@nextui-org/react';
import { MOBILEDEV_ICONS } from '../constants/tech';
import JassoCard from '../components/home/JassoCard';
import TechRow from '../components/home/TechRow.astro';
import SocialLinks from '../components/home/SocialLinks.astro';
import { CLOUDDEV_ICONS, WEBDEV_ICONS } from '../constants/tech';
---

<Layout title="Jasso Zuñiga" description="Jasso's personal website">
	<JassoCard client:visible>
		<div 
			class="pb-4 pt-12 text-center" 
			slot="CardContent"
			transition:name="content"
		>
			<p class="text-xl font-medium pb-4">👋</p>
			<p 
				class="text-xl font-medium"
				transition:name="title"
				transition:animate="initial"
			>
				Jasso Zuñiga
			</p>
			<p class="max-w-[90%] text-small text-default-400"></p>
			<p class="py-2 text-small text-foreground">
				Software Development and Management Engineer
			</p>
			<div class="flex gap-2">
			  <p>
				<span class="text-small font-medium text-default-500">+2 years</span>
				<span class="text-small text-default-400">of experience in software development and maintenance (SaaS / SaaP)</span>
			  </p>
			</div>
			<div class="flex gap-2">
				<p>
					<span class="text-small font-medium text-default-500">Web, mobile and cloud</span>
					<span class="text-small text-default-400">development experience with published and in-use products 🚀</span>
				</p>
			</div>
			<div class="flex gap-2 pb-1 pt-2 justify-center">
				<TechRow elements={WEBDEV_ICONS} title='Web' />
				<Divider orientation="vertical" className='mx-4' client:idle />
				<TechRow elements={MOBILEDEV_ICONS} title='Mobile' />
				<Divider orientation="vertical" className='mx-4' client:idle />
				<TechRow elements={CLOUDDEV_ICONS} title='Cloud' />
			</div>
		</div>
		<SocialLinks slot='SocialBar' />
	</JassoCard>
</Layout>
