* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
body {
    font-family: cursive;
    background-color: #202020;
}
a {
    text-decoration: none;
}
h3 {
    padding-bottom: 1rem;
}
li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #465c74;
    color: #fff;
    min-width: fit-content;
}
.nav-links a {
    color: #fff;
}
/* LOGO */
.logo {
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
    position: relative; 
}
.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #4c9e9e;
}
.services:hover .dropdown {
    display: block;
}
.main-content {
    display: flex;
    justify-content: center;
    text-align: center;
}
div.main-centered {
    /* centrado vertical */
    position: absolute;
    top: 25%;
}

.wave {
    font-family: oblique;
    font-size: 3.5rem;
}

.me {
    border: solid 0.5rem #465c74;
    border-radius: 50%;
    height: 50%;
    width: 50%;
}

.project-img {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

p {
    color:white;
    padding-top: 1rem;
}

.clipboard-alert {
    color: green;
    padding-top: 1rem;
}

* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
}
  
  /* Float four columns side by side */
.column {
    float: left;
    width: 33%;
    padding: 0 10px;
}
  
  /* Remove extra left and right margins, due to padding */
.row {
    margin: 1rem 1rem;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      max-width: 360px;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #465c74;
        color: #fff;
        min-width: fit-content;
    }
}
  
  /* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #465c74;
}

.social-icons {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}