---
import HomeIcon from '../components/icons/Home.astro';
import RocketIcon from '../components/icons/Rocket.astro';
import AboutIcon from '../components/icons/About.astro';
import BaseHead from '../components/layout/BaseHead.astro';
import Nav from '../components/layout/Nav';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const currentPath = Astro.url.pathname;
---

<script is:inline>
	const isDarkMode = localStorage.getItem('theme') === 'dark';
	if (isDarkMode) {
		document.documentElement.classList.remove('light');
		document.documentElement.classList.add('dark');
	} else {
		document.documentElement.classList.remove('dark');
		document.documentElement.classList.add('light');
	}
</script>

<!doctype html>
<html lang="en" transition:name="root">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<header transition:animate="none">
			<Nav currentPath={currentPath} client:load>
				<HomeIcon slot='HomeIcon' />
				<RocketIcon slot='RocketIcon' />
				<AboutIcon slot='AboutIcon' />
			</Nav>
		</header>
		<main class="w-full h-[calc(100dvh-86px)]">
			<slot />
		</main>
	</body>
</html>